.s-hero {
  position: relative;
  z-index: 2;
  .slide-principal {
    width: 100%;
    height: 73.6rem;
    .swiper-wrapper {
      .swiper-slide {
        padding-top: 20.7rem;
        background-size: cover !important;
        &.slide-01 {
          background: url("../img/bg-banner.jpg") no-repeat center center;
        }
        &.slide-02 {
          background: url("../img/bg-banner-02.jpg") no-repeat center center;
        }
        &.slide-03 {
          background: url("../img/bg-banner-03.jpg") no-repeat center center;
          .left-content {
            max-width: 62.6rem;
          }
        }
        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        .left-content {
          margin-left: 22.3rem;
          width: 100%;
          max-width: 56.2rem;
          h2 {
            font-weight: bold;
            font-size: 6.4rem;
            line-height: 110.2%;
            color: #FFFFFF;
            margin-bottom: 1.6rem;
          }
          p {
            font-size: 1.8rem;
            line-height: 27px;
            letter-spacing: -0.005em;
            color: #FFFFFF;
            margin-bottom: 3.2rem;
          }
          .btn {
            padding: 0px 3.8rem;
            line-height: 5.2rem;
          }
        }
        .right-content {
          width: 100%;
          max-width: 29.2rem;
          margin-top: -3.4rem;
          .logo {
            width: 100%;
            max-width: 28rem;
            height: 18rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8.6rem;
          }
          .video {
            width: 100%;
            max-width: 28rem;
            span {
              display: block;
              text-align: right;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 1.9rem;
              text-transform: uppercase;
              color: #FFFFFF;
              margin-bottom: 1.6rem;
            }
            .btn-video {
              position: relative;
              width: 100%;
              height: 15.8rem;
              border-radius: 4px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity .3s;
                &:hover {
                  &.default {
                    opacity: 0;
                  }
                  &.hover {
                    opacity: 1;
                  }
                }
                &.default {
                  opacity: 1;
                }
                &.hover {
                  opacity: 0;
                }
              }
              .icon {
                position: relative;
                z-index: 1;
                width: 51px;
                height: 51px;
                border-radius: 50%;
                background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);
                backdrop-filter: blur(3px);
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
  .slide-thumbnail {
    position: absolute;
    top: 24.1rem;
    left: 8%;
    z-index: 2;
    height: 32rem;
    .swiper-wrapper {
      .swiper-slide {
        width: 4.8rem;
        height: 4.8rem;
        cursor: pointer;
        opacity: 0.4;
        filter: grayscale(100%);
        &.disabled {
          pointer-events: none;
        }
        &-thumb-active {
          opacity: 1;
          filter: grayscale(0%);
        }
      }
    }
  }
  .swiper-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    display: block;
    z-index: 2;
    .slide-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 3px;
      opacity: 0;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-default;
        width: 0;
        height: 100%;
        transition: width 0.1s linear;
      }
    }
    &.active {
      .slide-progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide-progress-bar {
        &:after {
          transition: width 5s linear;
          width: 100%;
        }
      }
    }
  }
  @media(max-width: 1200px) {
    .slide-thumbnail {
      left: 1%;
    }
  }
  @media(max-width: 991px) {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          &.slide-02 {
            .left-content {
              max-width: 46.2rem;
              h2 {
                font-size: 5.8rem;
              }
            }
          }
          .left-content {
            margin-left: 0;
            h2 {
              font-size: 6.4rem;
            }
          }
          .right-content {
            position: absolute;
            right: 0;
            .logo {
              margin-top: -5.3rem;
              margin-bottom: 21rem;
            }
          }
        }
      }
    }
    .slide-thumbnail {
      left: 1.5rem;
      top: initial;
      bottom: 10.5rem;
      height: 4.8rem;
    }
  }
  @media(max-width: 560px) {
    .slide-principal {
      height: 62.2rem;
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 13.1rem;
          &.slide-01 {
            background-position-x: 40%;
          }
          &.slide-02 {
            background-position-x: 63%;
            .left-content {
              h2 {
                font-size: 4rem;
              }
              p {
                max-width: 30.5rem;
                font-size: 1.6rem;
              }
            }
          }
          &.slide-03 {
            background-position-x: 60%;
            .left-content {
              h2 {
                max-width: 33rem;
              }
              p {
                max-width: 26rem;
              }
            }
          }
          .left-content {
            max-width: 28.3rem;
            h2 {
              font-size: 4rem;
            }
          }
          .right-content {
            display: none;
          }
        }
      }
    }
    .slide-thumbnail {
      bottom: 6.5rem;
    }
  }
}

.s-games {
  padding-top: 8.3rem;
  padding-bottom: 11rem;
  .top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 7.8rem;
    .left-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      max-width: 39.9rem;
      span {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #8F9199;
        display: block;
        margin-top: 1.1rem;
      }
      h2 {
        font-weight: bold;
        font-size: 3.2rem;
        line-height: 110.2%;
        color: #FFFFFF;
        width: 100%;
        max-width: 17.5rem;
      }
    }
    .right-top {
      width: 100%;
      max-width: 58.3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        li {
          &:not(:first-child) {
            margin-left: 2.4rem;
          }
          a {
            img {
              opacity: 0.5;
              transition: opacity .3s;
            }
            &.active {
              img {
                opacity: 1;
              }
            }
          }
        }
      }
      .btn-all-games {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $primary-default;
        img {
          margin-right: 1rem;
        }
      }
    }
  }
  .tab-games-content {
    .tab-pane-games {
      display: none;
      &.active {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 47px 32px;
        animation: fadeUp .4s forwards;
      }
      .card-all-games {
        width: 100%;
        max-width: 28rem;
        height: 38.4rem;
        border: 1.5px solid #212428;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          display: flex;
          align-items: center;
          margin-top: 3.4rem;
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #FFFFFF;
          img {
            margin-right: 1.3rem;
          }
        }
      }
    }
  }
  @media(max-width: 991px) {
    .top {
      .left-top {
        span {
          display: none;
        }
      }
    }
    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
  @media(max-width: 560px) {
    padding-top: 5.7rem;
    padding-bottom: 6.9rem;
    .top {
      margin-bottom: 5.7rem;
      .left-top {
        h2 {
          font-size: 2.8rem;
        }
      }
      .right-top {
        justify-content: flex-end;
        ul {
          display: none;
        }
        .btn-all-games {
          font-size: 1.4rem;
        }
      }
    }
    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2.4rem 1.6rem;
        }
        .card-all-games {
          height: 21.2rem;
          img {
            max-width: 6.9rem;
          }
          span {
            margin-top: 1.5rem;
            font-size: 1.4rem;
            img {
              display: none;
            }
          }
        }
      }
    }
  }
}

.s-download {
  width: 100%;
  height: 85rem;
  background: url("../img/bg-section-download.png") no-repeat center center;
  overflow: hidden;
  background-size: cover;
  .container {
    position: relative;
  }
  .text-left {
    width: 100%;
    max-width: 29.9rem;
    padding-top: 13.2rem;
    .logo {
      margin-bottom: 3rem;
    }
    h2 {
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 110.2%;
      color: #FFFFFF;
      margin-bottom: 3rem;
    }
    ul {
      margin-bottom: 4.2rem;
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }
        .icon {
          width: 1.8rem;
          height: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.6rem;
        }
        p {
          font-size: 1.8rem;
          line-height: 178.2%;
          color: #828792;
        }
      }
    }
    .btn {
      padding: 0px 4rem;
      line-height: 5.2rem;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 4.9rem;
    }
    .app {
      display: flex;
      align-items: center;
      p {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #E5E5E5;
        max-width: 19rem;
        margin-left: 1.8rem;
        a {
          text-decoration: underline;
          transition: color .3s;
          &:hover {
            color: $primary-light;
          }
        }
      }
    }
  }
  .image {
    position: absolute;
    top: 9.9rem;
    right: -27.5rem;
    width: 100%;
    max-width: 106.6rem;
    height: 61rem;
    .img-lg {
      position: absolute;
      top: 0;
      left: 0;
      animation: float 8s ease-in-out infinite;
    }
    .img-sm {
      position: absolute;
      right: 5.3rem;
      bottom: -2.8rem;
      animation: float 6s ease-in-out infinite;
    }
  }
  @media(max-width: 991px) {
    .text-left {
      max-width: 29.9rem;
      h2 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
      }
    }
    .image {
      right: -35rem;
    }
  }
  @media(max-width: 560px) {
    height: auto;
    padding-bottom: 5rem;
    .text-left {
      padding-top: 6.3rem;
      margin-bottom: 4rem;
      h2 {
        font-size: 2.8rem;
      }
    }
    .image {
      position: relative;
      top: 0;
      right: 0;
      height: 27rem;
      .img-sm {
        right: 0;
        bottom: 0;
        max-width: 27.6rem;
      }
    }
  }
}

.show-modal {
  .modal {
    opacity: 1;
    pointer-events: all;
    .box {
      transform: translateY(0px);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2023;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 69.6rem;
    height: 60rem;
    background: url("../img/bg-modal.png") no-repeat #020203 top left;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
    transition: transform .3s;
    .close {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
    }
    .logo {
      margin-bottom: 4rem;
      width: 16.6rem;
    }
    form {
      width: 100%;
      max-width: 42.6rem;
      .form-group {
        margin-bottom: 1.6rem;
        &:last-child {
          margin-bottom: 2.4rem;
        }
        input[type="text"],
        input[type="password"] {
          width: 100%;
          height: 4.8rem;
          border-radius: 4px;
          border: none;
          padding: 0px 1.6rem;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #363842;
          &::placeholder {
            opacity: 0.6;
          }
        }
        button {
          width: 100%;
          line-height: 5.2rem;
          justify-content: center;
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
    }
    .others-conect {
      margin-bottom: 3.5rem;
      p {
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.1rem;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 1.6rem;
      }
      ul {
        display: flex;
        li {
          &:not(:first-child) {
            margin-left: 1.6rem;
          }
          button {
            width: 4.8rem;
            height: 4.8rem;
            background-color: #FFFFFF;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .message-user {
      p {
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #FFFFFF;
        margin-bottom: 1.6rem;
        a {
          display: inline-block;
        }
      }
      a {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        text-decoration-line: underline;
        color: #00AEFF;
        text-align: center;
        display: block;
        transition: color .3s;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}